h1 {
    font-size: 24pt;
    font-family: "Comic Sans Ms";
    font-style:normal;
    font-weight: 700;
    font-size-adjust:none;
    font-stretch: normal;
}
h2{
    font-size: 18pt;
    font-family: "Comic Sans Ms";
    font-weight: 500;
}
h3{
    font-size: 16pt;
    font-family: "Comic Sans Ms";
    font-weight: 100;
    font-variant:normal;
    font-feature-settings:normal;
    cursor: text;
    content:normal;
    clear: none;

}
.troutline{
  outline-style: dashed;
  outline-offset:  0;
  outline-color: aqua;
  outline-width:medium;
}
p{
    text-indent: 1cm;
    text-align: justify;
    font-size: 14pt;
}
.colorr{
    color: #f71111;
}
.colorb{
    color: rgb(108, 108, 207);
}
.coloro{
    color: orange;
}
.colorg{
    color: green;
}
pre{
    font-size: 14pt;
}
.ulimg{
    list-style-image: url(https://htmlbook.ru/files/images/faq/faq_list5_2.png);
}
ul{
    font-size: 14pt;
    list-style-position: outside;
}
ol{
    font-size: 14pt;
}
.rightimg{
    float: right;
    margin: 3px 0 3px 3px;
}
.leftimg{
    float: left;
    margin: 7px 7px 7px 0;
}
.columns {
    float: left;
    max-width: 30%;
    margin-right: 20px;
  }
  .img-center {
    float: left;
    margin: 1.5% 1.5% 0 0;
    max-width: 37%;
  }
  table.t1 {
    border-collapse: collapse;
    font-family: Arial, Helvetica, sans-serif;
    border-spacing: initial;
    caption-side: top;
    empty-cells: show;
  }
  .t1 th, .t1 td {
    padding: 4px 8px;
  }
  .t1 thead th {
    background: #4f81bd;
    text-transform: lowercase;
    text-align: center;
    font-size: 15px;
    color: #fff;
  }
  .t1 tr {
    border-right: 1px solid #95b3d7;
    border-left: 1px solid #95b3d7;
  }
  .t1 tbody tr {
    border-bottom: 1px solid #95b3d7;
  }
  .t1 tbody tr:nth-child(odd) {
    background: #dbe5f0;
  }
  .t1 tbody th, .t1 tbody td {
    border-right: 1px solid #95b3d7;
  }
  .t1 tfoot th {
    background: #4f81bd;
    text-align: left;
    font-weight: normal;
    font-size: 10px;
    color: #fff;
  }
  